
.dashboard {
  &-hero {
    position: relative;
    background-color: hsl(0, 0%, 80%);
    padding: 60px 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
  &-head {
    position: relative;
  }
  &-title {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 16px;
  }
  &-subtitle {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;
    color: rgba(black, .8);
  }
  &-form {
    position: relative;
  }
  &-content {
    position: relative;
  }
}