

%reset-input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;
  border-radius: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}