
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -20px;
  overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 20px;
  background: #fff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(black, .1);

  &-media {
    position: relative;
    overflow: hidden;
    height: floor(360px * 9/16);
    img {
      @include img-cover();
    }
  }

  &-body {
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  &-head {
    position: relative;
    margin-bottom: 12px;
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
  }
  &-type {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0;
    color: dimgray;
  }

  address {
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    color: #4c4c4c;
    .icon {
      margin-right: 8px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    svg {
      display: block;
      margin-bottom: 0;
    }
  }

  &-info {
    position: relative;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1;
    color: #4c4c4c;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      margin-right: 8px;
    }
  }

  &-price {
    position: absolute;
    top: 0;
    right: 15px;
    transform: translate(0, -50%);
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    padding: 4px 12px;
    border-radius: 999px;
    box-sizing: border-box;
    color: white;
    background-color: $color-brand;
  }

  &-actions {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: rgba(black, .4);
    backdrop-filter: blur(4px);
    text-align: center;
    line-height: 32px;
    color: white;
    .icon {
      cursor: pointer;
    }
  }
}